.main-register{
    width: 100%;
background-image: url(../../../public/images/gallery/gallery3.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 5rem 0;
}